# dependencies
node_modules

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics

# lerna
lerna-debug.log

# build artifacts
*/**/dist

# truffle build artifacts
# Ignore only for first level to select just the contract build directories
*/*/abi
*/*/build
*/*/artifacts

# lock files
package-lock.json
yarn.lock

# Misc
.DS_Store
.cache
